/*@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:500);
/* 2f4b87 */
/* 2f4b87 */
/* #1f325d */
/* Menu CSS */

#cssmenu {
  width: auto;
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 18px;
  color: #00417B;
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
}

#cssmenu ul ul a {
  font-weight: normal;
}
#cssmenu ul li {
  padding: 14px 7px;
}
#cssmenu:before,
#cssmenu:after,
#cssmenu > ul:before,
#cssmenu > ul:after {
  content: '';
  display: table;
}
#cssmenu:after,
#cssmenu > ul:after {
  clear: both;
}
#cssmenu a {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#cssmenu ul {
/*  background: #003d74;
  border-radius: 3px;
  border: 1px solid #2b4479;
  border: 1px solid #2d4373;
  -webkit-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  -o-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  -ms-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);*/
}
#cssmenu ul > li {
  float: left;
  list-style: none;
  position: relative;
  z-index: 1000;
}
#cssmenu ul > li, #cssmenu ul > li > a > span{
  cursor: pointer;
}

#cssmenu > ul > li.last{
  margin-left:40px;
}

/*#cssmenu > ul > li.last a:hover {
  color: #86bad1;
}*/

#cssmenu ul > li > a {
  display: block;
  text-decoration: none;
  /*padding: 15px 44px;*/
  padding: 15px 22px;
  position: relative;
}


#cssmenu ul ul li a {
  padding: 5px 0px;
}

#cssmenu > ul > li.active {
   /* background: #083A60;*/
   color: #EEB704;
}

#cssmenu > ul ul {
  border-bottom: 4px solid #D61D00;
  padding:10px 0 20px;
}

#cssmenu ul > li:hover {
  background: #eeb700;
/*  -webkit-box-shadow: inset 0 0 1px #1e2e4f;
  -o-box-shadow: inset 0 0 1px #1e2e4f;
  -moz-box-shadow: inset 0 0 1px #1e2e4f;
  -ms-box-shadow: inset 0 0 1px #1e2e4f;
  box-shadow: inset 0 0 1px #1e2e4f;*/
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
}
#cssmenu ul ul > li:hover {
  background: none;
}

#cssmenu > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
#cssmenu > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
  position: absolute;
  /*border-radius: 0 0 3px 3px;*/
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
#cssmenu > ul > li > ul {
  width: 200px;
  position: absolute;
  left: 0px;
  width: 100%;
  text-align: center;
  background-color: #083A60;
  background-color: #eeb700;
  background-color: #F6DB80;
  /*background-image: -webkit-linear-gradient(top, #083A60, #064278); */
  background-image: -moz-linear-gradient(top, #083A60, #064278);
  background-image: -ms-linear-gradient(top, #083A60, #064278);
  background-image: -o-linear-gradient(top, #083A60, #064278);
}
#cssmenu > ul > li > ul > li > a:hover {
  color: #ffffff;

}
#cssmenu > ul > li > ul > li {
  float: none;
  position: relative;
  padding: 5px 0px 8px;
}
#cssmenu > ul > li > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
#cssmenu > ul > li > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
  position: absolute;
}
#cssmenu > ul > li > ul > li > ul {
  left: 200px;
  top: 1px;
  width: 200px;
}
#cssmenu > ul > li > ul > li > ul > li {
  float: none;
}
